<div class="d-flex flex-column box">
    <div class="text">
         Welcome to YelpCamp!
    </div>
    <div class="d-flex justify-content-center mt-2">
        <form action="/camps">
            <button type="submit">View All Campgrounds</button>
        </form>
    </div>
</div>