<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="http://onehdwallpaper.com/wp-content/uploads/2015/07/River-HD-Wallpapers.jpg">
            <div class="caption">
                <h4>Riverside Camp</h4>
            </div>
            <p><a class="btn btn-success" href="/campgrounds/595ce317794cea0011b50bca">More Info</a></p>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img
                src="https://invinciblengo.org/photos/event/slider/manali-summer-adventure-camp-himachal-pradesh-q3zyMTV-1440x810.JPG">
            <div class="caption">
                <h4>Manali Ground</h4>
            </div>
            <p><a class="btn btn-success" href="/campgrounds/5aaa008d0d052a1c24b420e4">More Info</a></p>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="http://www.rv-camping.org/wp-content/uploads/2015/06/USACECampground.jpg">
            <div class="caption">
                <h4>Hidden Leaf</h4>
            </div>
            <p><a class="btn btn-success" href="/campgrounds/599d2b1064ec770011d9bb25">More Info</a></p>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <imgsrc="https:
                //images.pexels.com/photos/712786/pexels-photo-712786.jpeg?w=940&amp;h=650&amp;auto=compress&amp;cs=tinysrgb">
                <div class="caption">
                    <h4>New Camp</h4>
                </div>
                <p><a class="btn btn-success" href="/campgrounds/5aa0c89bf123537378b070b9">More Info</a></p>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="http://images.goodsam.com/trailerlifedirectory/largefeatured/1000x/pho_740003670_02.jpg">
            <div class="caption">
                <h4>Camper&#39;s Ground</h4>
            </div>
            <p><a class="btn btn-success" href="/campgrounds/5958879b1632930011289052">More Info</a></p>
        </div>
    </div>
</div>