<footer>
    <div class="container">
        <p>&copy YelpCamp 2017</p>
        <h5><strong>Write to us at:</strong></h5>
        <address>
            YelpCamp Inc.,<br>
            235 Riverside Drive,
            Jamestown, NY 14701.
        </address>
    </div>
</footer>