@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
#add_container{
    border-radius: 15px;
    /* background-color: azure; */
    background: linear-gradient(to right, #b3ffab, #12fff7);
    /* background: linear-gradient(to right, #70e1f5, #ffd194); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, #c9ffbf, #ffafbd); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#welcome_heading{
    font-family: 'Lemonada', cursive;
}
#sub_heading{
    font-family: 'Satisfy', cursive;
    color: coral;
    font-size: xx-large;
}
#add_button{
    border-radius: 15px;
    background-color: slateblue;
    color: azure;
    transition: .3s ease;
}
#add_button:hover{
    transform: scale(1.1);
    background-color: yellowgreen;
}