<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="./css/style.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous" defer></script>

<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active d-flex justify-content-center">
            <img src="../assets/bg1.jpg" alt="background-holder-1">
        </div>
        <div class="carousel-item d-flex justify-content-center">
            <img src="../assets/bg2.jpg" alt="background-holder-3">
        </div>
        <div class="carousel-item d-flex justify-content-center">
            <img src="../assets/bg3.jpg" alt="background-holder-3">
        </div>
        <div class="carousel-item d-flex justify-content-center">
            <img src="../assets/bg4.jpg" alt="background-holder-4">
        </div>
    </div>
</div>
<div class="container">
    <div class="col-12">
        <p class="fs-1 text-center mb-1">Welcome to YelpCamp!</p>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-success btn-lg">View All Campgrounds</button>
    </div>
</div>