<style>
  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }

  .container img {
    width: 100%;
    height: auto;
  }

  h1 {
    position: absolute;
    top: 37%;
    left: 35%;
    text-align: center;
  }

  .btn {
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
</style>
<div class="container-fluid p-0 m-0 " style="height: 95vh width: 100vw">
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1670x785/?nature,water
        " class="d-block w-100" alt="...">
        <div>
          <h1 class="display-4 text-light">Welcome to Yelpcamp!</h1>
          <button class="btn btn-success">View All Campgrounds</button>
        </div>

      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1670x785/?nature,rivers
      " class="d-block w-100" alt="...">
        <div>
          <h1 class="display-4 text-light">Welcome to Yelpcamp!</h1>
          <button class="btn btn-success">View All Campgrounds</button>
        </div>

      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1670x785/?nature,animals
      " class="d-block w-100" alt="...">
        <div>
          <h1 class="display-4 text-light">Welcome to Yelpcamp!</h1>

          <button class="btn btn-success">View All Campgrounds</button>
        </div>

      </div>
    </div>
  </div>