<div id="landing-img">
    <div id="view-camp">
        <h2 class="title">Welcome to The Camp</h2>
        <br>
        <a href="/routing"><button type="button" class="btn btn-outline-light">View Camps</button></a>
    </div>
    
</div>