<div class="background">
    <div class="landing-content">
        <h2 class="text-light">“Welcome to YelpCamp!</h2>
        <button class="btn btn-success">View Campgrounds</button>
    </div>
</div>