<div class="container">
    <h1 class="text-center display-5">SignUp</h1>
    <div class="d-flex justify-content-center align-items-center">
        <form action="/user/signUp" method="POST">
            <div class="mb-3">
                <label for="emailId" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="emailId">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">SignUp</button>
        </form>
    </div>
</div>