{{> headers}}

    <div class="addcampground mt-5 py-5">
        <div class="display-3">
            Welcome To YelpCamp!
        </div>
        <p>View our hand-picked campgrounds from all over the world</p>
        <form action="/campgrounds/new">
        <button class="btn btn-primary" type="submit">Add New Campground</button>
        </form>
    </div>
{{> footer}}