{{> headers}}
<div class="loginform mt-5">
    <div class="text-center display-6 mb-3">
        Login
    </div>
    <form class="loginform ms-3" action="/login" method="POST">
        {{> userdetails}}
        {{> userdetails2}}
    </form>
</div>

{{> footer}}