{{> headers}}
<div class="loginform mt-5">
    <div class="text-center display-6 mb-3">
        Sign Up
    </div>
    <form class="loginform ms-3" action="/signup" method="POST">
        {{> userdetails}}
        <div class="mb-3">
            <input type="text" name="admincode" placeholder="Enter admin code(optional)" class="form-control">
        </div>
        {{> userdetails2}}
    </form>
</div>

{{> footer}}