body {
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    background-color: #f8f8f8;
    display: flex;
}

.yelpcamp {
    margin-left: 15%;
    display: flex;
}

.loginsignup {
    display: flex;
    margin-left: 60%;
    font-size: medium;
}

.footer {
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 100px;
    background-color: #f1f1f1;
    width: 100%;
    padding-bottom: 100px;
}

.footertext {
    margin-left: 10%;
}

.home {
    display: flex;
    align-items: center;
}

.tab1 {
    background-color: #e7e7e7;
}

.addcampground {
    margin-left: 15%;
    background-color: #eeeeee;
    padding-left: 5%;
    width: 70%;
}

.newcampground {
    margin-left: 35%;
}

.newcampground > form {
    width: 23%;
}

.loginform {
    margin-left: 35%;
    width: 20%;
}

.loginform > form {
    width: 100%;
}

a {
    text-decoration: none;
}