<div class="footer pt-3">
    <div class="footertext">
        <pre>
        © YelpCamp 2017
        <b>Write to us at: </b>
        YelpCamp Inc.,
        235 Riverside Drive, Jamestown, NY 14701.
        </pre>
    </div>
</div>