<div class="header border-end">
    <div class="yelpcamp">
        <div class="home">
            YelpCamp
        </div>
        <div class="mx-3 px-3 tab1 home">
            Home
        </div>
    </div>
    <div class="loginsignup lead">
        <div class="home">
            Login
        </div>
        <div class="mx-3 home">
            SignUp
        </div>
    </div>
</div>